* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    font-size: 16px;

    /* Colour Variables */
    --clr-white: hsl(0, 0%, 100%);
    --clr-slate-300: hsl(212, 45%, 89%);
    --clr-slate-500: hsl(216, 15%, 48%);
    --clr-slate-900: hsl(218, 44%, 22%);
}

/* Fonts used for site */
.outfit-400 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.outfit-700 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

body {
    background-color: var(--clr-slate-300);

    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;

    max-width: 375px;
    height: 100vh;

    margin: 0 auto;
}

/* Card Component */
.card {
    background-color: var(--clr-white);

    min-width: 350px;
    width: 75%;

    padding: 10px;

    border-radius: 12px;
}

.card-image {
    width: 100%;
    height: auto;

    border-radius: 8px;
}

.card-body {
    padding: 18px;
}

.card-title {
    color: var(--clr-slate-900);
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.card-text {
    font-size: 15px;
    text-align: center;
    color: var(--clr-slate-500);
}
@media screen and (min-width: 375px) {
    
    body {
        max-width: 1448px;
    }

    .card {
        max-width: 400px;
    }

}
